ul
  li
    a(href=(.LinkTo "doc/about")) &raquo; #{.T "menu.about.title"}
  li
    a(href=(.LinkTo "downloads")) &raquo; #{.T "menu.downloads.title"}
  li
    a(href=(.LinkTo "doc/usage")) &raquo; #{.T "menu.usage.title"}
  li
    a(href=(.LinkTo "doc/contrib")) &raquo; #{.T "menu.contrib.title"}
  li
    a(href=(.LinkTo "contact")) &raquo; #{.T "menu.contact.title"}
  li
    a(href=(.LinkTo "doc/links")) &raquo; #{.T "menu.links.title"}
