ul
  li
    a(href="/doc/about") &raquo; #{.T "menu.about.title"}
  li
    a(href="/downloads") &raquo; #{.T "menu.downloads.title"}
  li
    a(href="/doc/usage") &raquo; #{.T "menu.usage.title"}
  li
    a(href="/doc/contrib") &raquo; #{.T "menu.contrib.title"}
  li
    a(href="/contact") &raquo; #{.T "menu.contact.title"}
  li
    a(href="/doc/links") &raquo; #{.T "menu.links.title"}
