h4.underlined #{.T "links.retrowiki.title"}
ul
  li
    a(href="http://retrowiki.es") &raquo; #{.T "links.retrowiki.forum"}
  li
    a(href="https://www.twitch.tv/retrocrypta/") &raquo; #{.T "links.retrowiki.twitch"}

h4.underlined #{.T "links.authors.title"}
ul
  li
    a(href="https://github.com/jorgefuertes") &raquo; #{.T "links.authors.queru"}
  li
    a(href="https://github.com/rampa069") &raquo; #{.T "links.authors.rampa"}

h4.underlined #{.T "links.project.title"}
ul
  li
    a(href="https://github.com/jorgefuertes/rwupdater-server") &raquo; #{.T "links.project.server"}
  li
    a(href="https://github.com/jorgefuertes/rwupdater-client") &raquo; #{.T "links.project.client"}

h4.underlined #{.T "links.fpga.title"}
ul
  li
    a(href="https://misterfpga.org/") &raquo; #{.T "links.fpga.mister"}
  li
    a(href="https://github.com/mist-devel") &raquo; #{.T "links.fpga.mist"}
  li
    a(href="https://github.com/ManuFerHi/SiDi-FPGA/wiki") &raquo; SiDi
  li
    a(href="https://manuferhi.com") &raquo; #{.T "links.fpga.manuferhi"}
  li
    a(href="https://www.antoniovillena.es/store/") &raquo; #{.T "links.fpga.avillena"}
